
# Django
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.db
*.DS_Store
*.swp
.env

# VS Code
.vscode/

#you should ignore the staticfiles/ (or assets/, static_root/) folder created by collectstatic in Git.
#If you named it assets/ or anything else:
/assets/

# Python virtual environment (in any under git folder track )
venv/
env/

